<form class="form-horizontal" name="addUnitForm" class="simple-form" role="form">
    <fieldset>

        <!-- Form Name -->
        <legend ng-show="edit">Create New Unit</legend>
        <legend ng-hide="edit">Edit Unit</legend>

        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-4">
                <input class="form-control" id="inputTitle" placeholder="Title" ng-model="newUnit.title" required />
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-4">
                <textarea type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="newUnit.description" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn" type="button" ng-click="reset()" value="Reset" />
                <input class="btn" type="submit" ng-click="addUnit(newUnit)" value="Add Unit" />
            </div>
        </div>
    </fieldset>
</form>

<hr>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="unit in units | orderBy:'title'">
        <td>{{ unit._id }}</td>
        <td>{{ unit.title }}</td>
        <td>{{ unit.description }}</td>
        <td>
            <button class="btn" ng-click="getUnit(unit)">
                <span class="glyphicon glyphicon-pencil"></span>  Edit
            </button>
            | <a href="javascript:void(0)" ng-click="deleteUnit(unit)">delete</a>

        </td>
    </tr>
    </tbody>
</table>


