<div class="panel panel-default animate-show" ng-show="checked">

    <div class="panel-heading" ng-show="edit">
        <h4>Create New Word:</h4>
    </div>
    <div class="panel-heading" ng-hide="edit">
        <h4>Edit Word:</h4>
    </div>

    <form class="form-horizontal simple-form" name="addEditWordForm" role="form">
        <fieldset>
            <div class="form-group">
                <label for="inputOrigin" class="col-sm-2 control-label">Original:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="inputOrigin" placeholder="Original" ng-model="newWord.name" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputTranscription" class="col-sm-2 control-label">Transcription:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="inputTranscription" placeholder="Transcription" ng-model="newWord.transcription" />
                </div>
            </div>

            <div class="form-group">
                <label for="selectSpeechPart" class="col-sm-2 control-label">Parts of Speech:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="selectSpeechPart" ng-model="newWord.speechPart" convert-to-number>
                        <option value="0">Verb</option>
                        <option value="1">Noun</option>
                        <option value="2">Adjective</option>
                        <option value="3">Adverb</option>
                        <option value="4">Pronoun</option>
                        <option value="5">Preposition</option>
                        <option value="6">Conjunction</option>
                        <option value="7">Interjection</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-repeat="transl in newWord.translations track by $index">
                <label class="col-sm-2 control-label">Translation {{$index + 1}}:</label>
                <div class="controls col-sm-4">
                    <form role="form" autocomplete="off">
                        <div class="entry input-group">
                            <input class="form-control" placeholder="Translation" ng-model="newWord.translations[$index]">
                            <span class="input-group-btn">
                                <button class="btn" ng-class="!$last ? 'btn-danger btn-remove' : 'btn-success btn-add'" type="button" ng-click="editTranslation($last, $index)">
                                    <span class="glyphicon" ng-class="!$last ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                                </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group">
            <label for="inputSrc" class="col-sm-2 control-label">Image Source:</label>
            <div class="col-sm-4">
                <input class="form-control" id="inputSrc" placeholder="Image Source" ng-model="newWord.img" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="button" ng-click="reset()" value="Reset" />
                <button class="btn btn-success" ng-click="addEditWord(newWord)" ng-disabled="error || incomplete">
                    <span class="glyphicon glyphicon-save"></span> {{edit?'Create New':'Save Changes'}}
                </button>
            </div>
        </div>
    </fieldset>

    </form>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <table>
            <tr>
                <td>
                    <h4>Words:</h4>
                </td>
                <td align="right">
                    <div class="pull-right">
                        <button class="btn" ng-class="checked ? 'btn-danger btn-remove' : 'btn-success btn-add'" type="button" ng-click="showHideForm(checked)">
                            <span class="glyphicon" ng-class="checked ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <table st-table="words" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Original</th>
                <th>Transcription</th>
                <th>Parts of Speech</th>
                <th>Translations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="word in words | orderBy:'name'">
                <td>{{ $index + 1}}</td>
                <td>{{ word.name }}</td>
                <td>{{ word.transcription }}</td>
                <td>{{ getSpeechPart(word.speechPart) }}</td>
                <td>
                    <span ng-repeat="trans in word.translations">
                        {{trans}}<span ng-hide="$last">, </span>
                    </span>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-default" ng-click="editWord(word)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                            <button class="btn btn-default" ng-click="open('sm', word)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        <button class="btn btn-default" ng-click="deleteWord(word)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="templates/components/pagination/pagination.templ.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>