    <h1>Training</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with List Group</div>
        <div class="panel-body">
            Panel body content goes here...
        </div>
        <ul class="list-group">
            <li class="list-group-item">List item 1</li>
            <li class="list-group-item">List item 2</li>
            <li class="list-group-item">List item 3</li>
            <li class="list-group-item">List item..</li>
            <li class="list-group-item">List item..</li>
        </ul>
    </div>